.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left,.footer-content-right,.footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    font-family: Outfit;


}
.footer-content-left li,.footer-content-right li,.footer-content-center li{
  list-style: none;
margin-bottom: 10px;
font-family: Outfit;
cursor: pointer;

}
 .footer-content-right li h2,.footer-content-center li h2{
 color: white;
 font-family: Outfit;

}
.footer-social-icon{
    width: 40px;
    margin-right: 15px;
    display: flex;
    gap: 10px;
}
.footer hr{
    width: 100%;
    color: white;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}