 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');
 body{
    min-height: 100vh;
 }
 .App{
   width: 80%;
   margin: auto;
 }
 @keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
 }