 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

.exploremenu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.exploremenu h1{
    color: #262626;
    font-weight: 500;
    font-family: Outfit;
}
.explore-menu-list{
    display: flex;
    overflow-x: scroll;
    margin: 20px 0;
    gap: 20px;
    margin: 0 auto;
    cursor: pointer;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
}
.explore-menu-text{
     columns: #808080;
    max-width: 60%;
}
.explore-menu-list img{
    width: 7.5vw;
    min-width: 80px;
    border-radius: 50%;
    

}
.explore-menu-list p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    text-align: center;
     
}
.exploremenu hr{
    margin: 10px 0;
    height: 2px;
    background-color: #e2e2e2;
}
.explore-menu-list .active{
    border: 2px solid tomato;
    border-radius: 50%;
      width: 7.5vw;
    min-width: 80px;
    border-radius: 50%;
}
 @media (max-width:975px){
     .explore-menu-list{
        width: 100%;
        max-width: 100vw;
        overflow-x: scroll;
     }
 }
@media (max-width:750px) {
.explore-menu-text {
    max-width: 100%; 
}
     
 
    
}