  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');
 
 .header-app{
    height: 34vw;
    background-image: url('../../food-del-assets/assets/frontend_assets/header_img.png');
    background-size: contain;
    position: relative;
   background-repeat: no-repeat;
 }
 .header-info{
   display: flex;
   flex-direction: column;
   position: absolute;
   bottom: 10%;
   left: 34px;
   width: 50%;
    gap: 10px;
    animation: fadeIn 3s;
 }
 .header-info h1{
   color: white;
   font-size: 50px;
   font-family: Outfit;
 }
.header-info p{
   color: white;
   font-size: 18px;
   font-family: Outfit;
}
.header-info button{
   width: fit-content;
   height: fit-content; 
   cursor: pointer;
   font-family: Outfit;
   color: #747474;
   font-weight: 500;
   border: none;
   padding: 1vw 2.3vw;
   font-size: 16px;
   border-radius: 20px;
}
@media (max-width:1050px) {
    .header-info p{
        color: white;
   font-size: 16px;
   font-family: Outfit;
      
   }
    .header-info h1{
      font: 45px Outfit;
      font-weight: 500;
    
    }
     .header-info{ 
      left: 30px ;
      bottom: 8%;

   }
   
}
@media (max-width:950px) {

     .header-info p{
        color: white;
   font-size: 14px;
   font-family: Outfit;
      
   }
    .header-info h1{
      font: 40px Outfit;
      font-weight: 500;
    
    }
   
}
@media (max-width:850px) {

     .header-info p{
        color: white;
   font-size: 12px;
   font-family: Outfit;
      
   }
    .header-info h1{
      font: 35px Outfit;
      font-weight: 500;
    
    }
   
}



@media (max-width:750px) {
   .header-info p{
      display: none;
   }

    .header-info h1{
      font-size: 40px;
    }
   .header-info{ 
      width: 70%;

   }
  
}
@media (max-width: 600px) {
    .header-info h1{
      font-size: 35px;
    }
   
}
@media (max-width:530px) {
    .header-info h1{
      font-size: 30px;
    }
}
@media (max-width:450px){
    .header-info h1{
      font-size: 25px;
    }
}
