 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');
*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
}

 
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid; */
    height: 70px;
    width: 100%;
    padding: 20px 0;  
}
.navbar-menu{
    list-style: none;
    display: flex;
    gap: 10px;
     font-family: Outfit; 
}
.navbar-menu-right{
    display: flex;
    gap: 40px;
}
.navbar button{
    background:transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px ;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s;
}
.navbar button:hover{
    background-color: #fff4f2;
    
}
.navbar .active{
    padding-bottom: 2px ;
    border-bottom: 2px solid #49557e;

}

