 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');
*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
}

 
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 70px;
    width: 100%;
    padding: 20px 0;  
}
.navbar-menu{
    list-style: none;
    display: flex;
    gap: 30px;
     font-family: Outfit; 
}
.navbar-menu li{
    cursor: pointer;
}
.navbar-menu-right{
    display: flex;
    gap: 40px;
}
.navbar button{
    background:transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px ;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s;
}
.navbar button:hover{
    background-color: #fff4f2;
    
}
.navbar .active{
    padding-bottom: 2px ;
    border-bottom: 2px solid #49557e;

}
.navbar-search-icon{
    position: relative;

}
.navbar-search-icon .dot{
    position: absolute;
    background-color: tomato;
    width: 10px;
    height: 10px;
    top: -8px;
    right: -8px;
    border-radius: 5px;
}
.navbar-menu a{
    text-decoration: none;
    color: black; 
}
.nav-profile{
    position:relative;

}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 2000;
}
.nav-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style-type: none;
    width: fit-content;
     

     
}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}
.nav-profile-dropdown img{
    width: 20px;

}
.nav-profile-dropdown li:hover{
    color: tomato;
    

}
@media (max-width:1050px) {
    .navbar-menu{
        gap: 20px;
    }
    .navbar-menu li{
        font-family: 15px;
    }
    
}

@media (max-width:900px) {
    .navbar-menu{
        gap: 15px;
    }
    .navbar-menu li{
        font-size: 13px;
    }
    
}
 


@media (max-width:850px) {
     
    .navbar-menu-right{
        gap: 15px;
    }

    .navbar-menu{
       display: none;
       
    }
    
    
}
@media (max-width:500px) {
            .navbar-menu-right img{
                width: 30px;
                height: 30px;

            }
            .navbar-menu-right button{
                width: 50px;
                height: 30px;
                font-size: 10px;
                padding: 5px;
                transition: 0s;
            }
            .navbar  .logo{
                width: 140px;
                height: 30px;
            }
}